/*	
	style.css v.2.0
	
	WebDesign Simone Carè 
	http://www.zooweb.it  
		
*/
	
/* ===============================================================================================================================
   	@header
   =============================================================================================================================== */

	#header .logo {
		width:220px; 
		font-size: 60px;
		box-shadow: -1px 0 0 rgba(255, 255, 255, 0.95) inset, 1px 0 0 rgba(166, 166, 166, 0.2) inset;
}
	#header .logo-algoritmi { 
		background-image: url('/images/logo-algoritmi.png');
}

/*  :: nav-secondary :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

	.nav-primary {
		float:left;
}
	.nav-primary ul {
		line-height:60px;
		height: 60px;
}
	.nav-primary li a {
		padding: 0px 1.5em;
		text-transform: uppercase;		
		box-shadow: -1px 0 0 rgba(255, 255, 255, 0.95) inset, 1px 0 0 rgba(166, 166, 166, 0.2) inset;
}
	.nav-primary li:first-child a {
/*		background: url('../images/bg/shadow.png') no-repeat scroll 0% 0% transparent;
		background-position: 0px 0px;
		border-left:none;
		padding-left: 2em;
*/
}
	.nav-primary li:last-child a {
		box-shadow: -1px 0 0 rgba(166, 166, 166, 0.2) inset, 1px 0 0 rgba(166, 166, 166, 0.3) inset;
}
	.nav-primary li a:hover,
	.nav-primary li a.active {
		color:#3498db;
		box-shadow: 0px 8px 10px #EBEBEB inset, 4px 35px 65px 5px rgba(242, 242, 242, 0.9) inset;
}

/*  :: nav-secondary :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

	.nav-secondary {
		float:right;
}
	.nav-secondary ul {
		line-height:30px;	
		height:30px;
}
	.nav-secondary a {
		padding:0 .75em;
}
	.nav-secondary .text-profilo {
		margin-left:1.5em;
}
	.nav-secondary a {
		color: #BCDCED;		
}
	.nav-secondary a:focus, 
	.nav-secondary a:hover {
    	color: #FFF;
}	
	.nav-secondary .text-accedi {		
		background: none repeat scroll 0% 0% #2980b9;
}

/*  :: nav-search :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
	
	#nav-search {
		float:right;
}
	#nav-search form {
		position:relative;
		width:500px;
		height:60px;
		float:left;
}
	#label {
		position: relative;
		left:440px;
		height: 60px;
		width: 60px;
/*		background-position: 0px 0px;
		background: url('../images/bg/shadow.png') no-repeat scroll 0% 0% transparent; */
}
	#label .icon-search {
		text-align:center;
		font-size: 24px;
		display: block;
		line-height:60px;
		height: 60px;
		width: 60px;
		cursor: pointer;
}
	#input {
		position: absolute;
		overflow: hidden;
		height: 60px;
		width: 450px;
		right: 60px;
		top: 0;
}		
	#input input {
		position: absolute;
		display: block;
		width: 450px;
		height: 100%;
		padding: 0 1.5em;
		border: none;
		right: -450px;
		-webkit-backface-visibility: none;
		-moz-backface-visibility: none;
		-ms-backface-visibility: none;
		backface-visibility: none;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		-webkit-transition: right 0;
		-moz-transition: right 0;
		-ms-transition: right 0;
		-o-transition: right 0;
		transition: right 0;
}
	#input.focus input {
		right: 0;
		-webkit-transition: right 0.3s;
		-moz-transition: right 0.3s;
		-ms-transition: right 0.3s;
		-o-transition: right 0.3s;
		transition: right 0.3s;
}

/*  :: nav-toggle :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

	#nav-toggle {
		display:none;
		float: right; 
		height: inherit; 
		overflow:hidden;  
}
	.nav-toggle {
	    position: relative;
		float:right;
		padding: 11px 10px;
	    margin: 11px 20px 0 0; 
		color: #bdc3c7;
	    background-color: rgba(255, 255, 255, 0.99);
	    background-image: none;
	    border: 1px solid rgba(0, 0, 0, 0.1);
}	
	.nav-toggle .icon-bar {
		background: none repeat scroll 0 0 rgba(00, 00, 00, 0.40);
	    display: block;
	    height: 2px;
	    width: 18px;
}
	.nav-toggle .icon-bar + .icon-bar {
    	margin-top: 4px;
}
	.sr-only {
	    border: 0 none;
	    clip: rect(0px, 0px, 0px, 0px);
	    height: 1px;
	    margin: -1px;
	    overflow: hidden;
	    padding: 0;
	    position: absolute;
	    width: 1px;
}
