/*	
	responsive.css v.1.3.0
	
	WebDesign Simone Carè 
	http://www.zooweb.it  

*/
	
	@media all and (max-width: 1600px) {
	
}
	
	@media all and (max-width: 1024px) {

		.img-fullscreen { left: 50%; margin-left: -32em; } 

		.col-00 		{ width: 33.33333%; }
		.x .col-00 		{ width: 32.33333%; }
		.xx .col-00 	{ width: 31.33333%;}
		.xxx .col-00 	{ width: 30.33333%;}
		.xxxx .col-00 	{ width: 29.33333%;}
		.xxxxx .col-00 	{ width: 28.33333%;}
		
		.nav-primary li a { 
			padding:0 15px; 
	}

}
	
	@media all and (max-width: 960px) {
		
		#nav-c 			{ display: none; }		
		#nav-toggle 	{ display: block; }
		
}	

	@media all and (max-width: 768px) {

		.col-00 		{ width: 50%; }
		.x .col-00 		{ width: 49%; }
		.xx .col-00 	{ width: 48%;}
		.xxx .col-00 	{ width: 47%;}
		.xxxx .col-00 	{ width: 46%;}
		.xxxxx .col-00 	{ width: 45%;}

}
	
	@media all and (max-width: 480px) {

		.col-00 		{ width: 100%; }
		.x .col-00 		{ width: 99%; }
		.xx .col-00 	{ width: 98%;}
		.xxx .col-00 	{ width: 97%;}
		.xxxx .col-00 	{ width: 96%;}
		.xxxxx .col-00 	{ width: 95%;}
}	

	@media all and (max-width: 320px) {
	
	
	
}
	
	@media print {
	  
	  * {
		color: #000 !important;
		text-shadow: none !important;
		background: transparent !important;
		box-shadow: none !important;
	  }
	  a,
	  a:visited {
		text-decoration: underline;
	  }
	  a[href]:after {
		content: " (" attr(href) ")";
	  }
	  abbr[title]:after {
		content: " (" attr(title) ")";
	  }
	  .ir a:after,
	  a[href^="javascript:"]:after,
	  a[href^="#"]:after {
		content: "";
	  }
	  pre,
	  blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	  }
	  thead {
		display: table-header-group;
	  }
	  tr,
	  img {
		page-break-inside: avoid;
	  }
	  img {
		max-width: 100% !important;
	  }
	  @page  {
		margin: 2cm .5cm;
	  }
	  p,
	  h2,
	  h3 {
		orphans: 3;
		widows: 3;
	  }
	  h2,
	  h3 {
		page-break-after: avoid;
	  }
	  .navbar {
		display: none;
	  }
	  .table td,
	  .table th {
		background-color: #fff !important;
	  }
	  .label {
		border: 1px solid #000;
	  }
	  .table {
		border-collapse: collapse !important;
	  }
	  .table-bordered th,
	  .table-bordered td {
		border: 1px solid #ddd !important;
	  }
	}