/*	
	style.css v.2.0
	
	WebDesign Simone Carè 
	http://www.zooweb.it  
		
*/
	@import url(http://fonts.googleapis.com/css?family=Lato:700,400,300,200);
	@import url(themes.css);


/* ===============================================================================================================================
   	@Global
   =============================================================================================================================== */

	html {
		background: url("/images/bg/lightnoise.png") repeat scroll 0 0 #f0f3f7;
} 
	body {
		font-family: "Lato", Helvetica, Arial;
		color: rgb(52, 73, 94);
		font-size:1em;
		line-height:1.4;
		font-weight:200;
}

/* ===============================================================================================================================
   	Layout & Sticky Footer
   =============================================================================================================================== */

	#rack {
		position:relative;
		min-height:100%;
}
	#header {
		position:relative;
		z-index:9999;
}
	#body {
		padding-bottom:400px; 	/* Stessa altezza di #footer */
		z-index:2;
}
	#footer {
		position:absolute;
		height:400px;		 	/* Altezza del footer*/
		width:100%;
		bottom:0;		
}

/* ===============================================================================================================================
   	#header-
   =============================================================================================================================== */

	#header-a	{ position:relative; height:30px; line-height:32px; overflow:hidden; }	
	#header-b	{ position:relative; height:60px; line-height:64px; overflow:hidden; }

/* ===============================================================================================================================
   	#nav-
   =============================================================================================================================== */

	#nav-a 	{ 
		float:right;
		font-size:.687em; 
}
	#nav-b { 
		float:right; 
}
	#nav-c {
		position:absolute;
		left:0;
		right:0;
		margin-right:20%;
}
	#nav-d { 
		float:left; 
}
	#nav-h {
		margin-top:2.2em; 
}
	#nav-a li a	{ 
		padding: 0 1.5em; 
}
	#nav-c li a	{ 
		width: 25%; 
}
	#nav-b, #nav-d, #nav-e, #nav-f, #nav-g, #nav-h { 
		font-size:.875em; 
}	
	#nav-e li a, #nav-f li a, #nav-g li a, #nav-h li a { 
		padding: .20em 0; 
}
	#nav-a li a, #nav-c li a { 
		text-transform:uppercase; 
}
	#nav-b, #nav-b li a, #nav-d li a { 
		padding: 0 .65em; 
}	

/*  :: #nav-search :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/


	#nav-search,
	#search-form input,
	#search-form button {
		height:60px;
		line-height:60px;
}
	#nav-search {
		float:right;
		width:100%;		
		position:relative;
		overflow:hidden;
}
	#search-form {
		position:relative;
		float:right;
		width:20%;
		overflow:hidden;
		padding:0;
		background: none repeat scroll 0% 0% #transparent;
}
	#search-form input, 
	#search-form button {
		padding: 0px;
		border: medium none;
		background: none repeat scroll 0% 0% transparent;
}
	#search-form input {
		float:right;
		padding: 0 60px 0 15px;
		font-weight:200;
		border: medium none;
		border-left:1px solid rgba(166, 166, 166, 0.2);
		background: none repeat scroll 0% 0% transparent;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
}
	#search-form input[type="text"] {
		width: 200px;
		color:#3498DB;
		text-transform:uppercase;
		-webkit-transition:all 0.5s ease-in-out;
		-moz-transition:all 0.5s ease-in-out;
		-o-transition:all 0.5s ease-in-out;
		transition:all 0.5s ease-in-out;	
}	
	@media screen and (-webkit-min-device-pixel-ratio:0) {
	
		#search-form input[type="text"] {
			line-height:1em;
		}
}
	#search-form input[type="text"]:focus {
		width:100%;
		background: none repeat scroll 0% 0% #3498DB;
		color:#ffffff;

}
	#search-form button {
		background: none repeat scroll 0% 0% #3498DB;
		position: absolute;
		top:0;
		right: 0px;
		width: 60px;
}
	#search-form .icon-search { font-size:24px; color:#ffffff; }


/*  :: #nav-toggle :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

	#nav-toggle {
		position:absolute;
		margin-left:1.5em;
		display:none;
		left:0;
}
	.nav-toggle {
	    position: relative;
		float:right;
		padding: 11px 10px;
	    margin: 11px 20px 0 0; 
		color: #bdc3c7;
	    background-color: rgba(255, 255, 255, 0.99);
	    background-image: none;
	    border: 1px solid rgba(0, 0, 0, 0.1);
}	
	.nav-toggle .icon-bar {
		background: none repeat scroll 0 0 rgba(00, 00, 00, 0.40);
	    display: block;
	    height: 2px;
	    width: 18px;
}
	.nav-toggle .icon-bar + .icon-bar {
    	margin-top: 4px;
}
	.sr-only {
	    border: 0 none;
	    clip: rect(0px, 0px, 0px, 0px);
	    height: 1px;
	    margin: -1px;
	    overflow: hidden;
	    padding: 0;
	    position: absolute;
	    width: 1px;
}

/* ===============================================================================================================================
   	#footer-
   =============================================================================================================================== */	
	
	#footer-b			{ position:absolute; width:100%; bottom:0; padding:0 3em; height:60px; line-height:60px; overflow:hidden; }	
	
	#footer .heading	{ margin-top:1.5em; color:#fff; text-transform:uppercase; letter-spacing:1px; font-weight:400; }
	#footer-copy		{ margin-right:.75em; padding-right:1.5em; border-right:1px solid #dfdfdf; }
	#footer-partner		{ position:relative; float:right; font-size: 60px; height:60px; line-height: 1;  width:265px; }
	
	#footer-a a[class*="icon-"]:before {
		display: inline-block;
		border-radius: 100%;
		margin-right: 0.75em;
		text-align: center;
		text-indent: 2px;
		line-height: 30px;
		height: 30px;
		width: 30px;
}

/* ===============================================================================================================================
   	SHARED STYLE
   =============================================================================================================================== */

	.section-padding { 
		padding: 5.625em 0px 6.25em;
}
	.page-header {
		font-weight:700;
		padding:.75em 0 .375em;
		border-bottom:1px solid #dadada;
}
	.page-inner { 
		padding-top:10.625em; 
}	

/* ===============================================================================================================================
   	:: DIVIDER
   =============================================================================================================================== */	

	.divider.up {
		bottom:0;
		height: 62px;
}
	.divider.down {
		top:0;
		height: 62px;
}
	.divider.line {
		height: 1px;
}

/* ===============================================================================================================================
   	:: NEST
   =============================================================================================================================== */	

	.nest {
		position: absolute;
		z-index: 1001;
		top: 0px;
		width: 106px;
		height: 478px;
		background-size: 106px 478px;
		background-repeat: no-repeat;
		background-position: 0px 0px;
}
	.nest.left {
		left: 0px;
}		
	.nest.right {
		right: 0px;
}	

/* ===============================================================================================================================
   	:: BILLBOARD
   =============================================================================================================================== */	
	
	.billboard { 	
		animation: 800ms ease-out 0s normal none 1 fadeIn; 
}
	.billboard figure {
		position: absolute;	 
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		animation: 800ms ease-out 0s normal none 1 rotateFade;
}		
	.billboard p { 
		margin-top: 1em; 
}
	.billboard p a { 
		color: inherit; 
		text-decoration: underline; 
}
	.billboard .cta { 
		margin-top: 2em; 
}

/* ===============================================================================================================================
   	:: TILES
   =============================================================================================================================== */	
	
	.tile figure, .tile article {
		padding: 1.5em; 
}
	.tile figure { 
		text-align:center; 
}
	.tile.x2 article { 
		margin-left:50%;
}	
	.tile.x2 figure {
		width:50%;
		float:left;
}
	.col-03 .tile figure img { 
		max-height:170px;
}
	.col-06 .x2 figure img { 
		max-height:250px; 
}
	.col-06 .y2 figure { 
		min-height:454px; 
}

/* ===============================================================================================================================
   	:: TILES-GRID
   =============================================================================================================================== */	

	.tiles.grid { 
		border-top: 1px solid #dfdfdf; 
		border-left:1px solid #dfdfdf; 
}
	.tiles.grid .tile { 
		border-right:1px solid #dfdfdf; 
		border-left:1px solid #ffffff;
		border-top:1px solid #ffffff; 
		border-bottom:1px solid #dfdfdf; 
}

/* ===============================================================================================================================
   	:: ITEM
   =============================================================================================================================== */	

	.item {
		float:left;
		clear:both;
}
	.item figure { 
		float:left;
		margin-bottom:1px;
		border-right:1px solid #f0f0f0; 
}
	.item article {
		overflow:hidden;
}
	.item article p:last-child {
		margin-bottom: 0;
}

/* ===============================================================================================================================
   	@BANNER
   =============================================================================================================================== */	

	.banner {
		position:relative;	
		text-align:center; 
		display:block; 
		color:inherit;
		height:220px;
		z-index:1;
	-webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.25);
	   -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.25);
			box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.25);
}
	.banner figure {
		position:absolute;
		width:100%;
		height:100%;
		top:0;
		left:0;
		bottom:0;
		right:0;
		z-index:2; 
}
	.banner article  {
		position:absolute;
		bottom:7%;
		width:80%;
		margin:0 10%;
		z-index:3; 
}
	.banner h1, .banner h2, .banner h3, .banner h4, .banner h5, .banner h6,
	.banner .h1, .banner .h2, .banner .h3, .banner .h4, .banner .h5, .banner .h6 { 
		margin-bottom:5px; 
}
	.banner p { 
		margin:5px 0; 
		line-height:1.2em; 
}
	.cd  { 
		display: block; 
		width: 100%;
		height:100%;
		-moz-border-bottom-colors: none; 
		-moz-border-left-colors: none; 
		-moz-border-right-colors: none; 
		-moz-border-top-colors: none; 
		border-color: #EFEFEF #E0E0E0 #CCCCCC;
		border-image: none;
		border-left: 1px solid #E0E0E0;
		border-right: 1px solid #E0E0E0;
		border-style: solid;
		border-width: 1px;
}
	.cd:nth-child(n) { 
		-webkit-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.22); 
		-moz-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.22); 
		box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.22); 
		border: medium none;
		border-radius: 100% 100% 100% 100% / 33px 33px 33px 33px; 
}
	
/* ===============================================================================================================================
   	:: CATALOGO
   =============================================================================================================================== */	
	
	.catalogo { 
		padding: 2.5em 0 5em; 
}
	.catalogo header {
		text-align:center;
		margin-bottom:1.5em;
}
	.catalogo .item {
		padding:-1px;
		margin-bottom:1.5em;
}
	.catalogo .item figure { 
		width:40%;
		padding:1.5em; 
}
	.catalogo .item article {
		margin-left:40%;
		padding: 3% 5%;
}
	
/* ===============================================================================================================================
   	SOFTWARE	
   =============================================================================================================================== */	

/*  :: Call-Center :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
	
	.banner.call-center figure img { width:70%; margin:-9px -130px 0 0; }
	.banner.call-center article { text-align:left; top:10%; width:70%; margin: 0 20% 0 10%; }


/*  :: Backup online :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
	
	.backup-online { 
		background: url('http://www.algoritmi.com/servizi/backup-online/images/bg-backup-online.jpg') no-repeat scroll 0% 0% / cover #FFF;
}
	.banner.backup-online figure img 		{ width:36%; margin:5% 32% 0; }
	.banner.backup-online.v2 figure img 	{ width:60%; margin:0 20%; position:absolute; left:0; right:0; bottom:-10%; }
	.banner.backup-online.v2 article		{ top:10%; }	
	
/*  :: Fattura Elettronica :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
	
	.fattura-elettronica { 
		background: rgba(71,162,215,1);
		background: -moz-linear-gradient(top, rgba(71,162,215,1) 0%, rgba(10,116,173,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(71,162,215,1)), color-stop(100%, rgba(10,116,173,1)));
		background: -webkit-linear-gradient(top, rgba(71,162,215,1) 0%, rgba(10,116,173,1) 100%);
		background: -o-linear-gradient(top, rgba(71,162,215,1) 0%, rgba(10,116,173,1) 100%);
		background: -ms-linear-gradient(top, rgba(71,162,215,1) 0%, rgba(10,116,173,1) 100%);
		background: linear-gradient(to bottom, rgba(71,162,215,1) 0%, rgba(10,116,173,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47a2d7', endColorstr='#0a74ad', GradientType=0 );
}
	.banner.fattura-elettronica { color:#ffffff; }
	.banner.fattura-elettronica figure img { width:50%; margin:5% 0 0 25%; }	

	.billboard.fattura-elettronica { padding: 130px 0px 80px 45%; }
	.billboard.fattura-elettronica figure { margin-left:-450px; }
	.billboard.fattura-elettronica article { color:#ffffff; }

/*  :: Firma Grafometrica :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

	.banner.firma-grafometrica figure img { position:absolute; bottom:-20%; right:0; width:80%; margin-left:0 0 0 20%; }
	.banner.firma-grafometrica article { top:10%; } 

/*  :: Fiscal Assist :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

	.banner.fiscal-assist figure img { position:absolute; bottom:5%; left:0; width:80%; margin:0 10%; }
	.banner.fiscal-assist article { top:10%; } 
	
/*  :: Gamma App :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

	.banner.gamma-app figure img { position:absolute; bottom:5%; left:0; width:70%; margin:0 15%; }
	.banner.gamma-app article { top:10%; } 

/*  :: Gecom App :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

	.banner.gecom-app figure { overflow:hidden; }
	.banner.gecom-app figure img { height:100%; }
	.banner.gecom-app article { 
		background: none repeat scroll 0% 0% rgba(250, 250, 250, 0.35); 
		width:100%; 
		margin:0; 
		padding:3% 10%;
		bottom:1px; 
}

/*  :: Postino Telematico :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

	.postino-telematico { 
		background: url('/software/postino-telematico/images/bg.png') no-repeat scroll 50% 50% / cover #FFF;
}
	.banner.postino-telematico figure img { width:76%; margin:5% 24% 0 0; }
	.billboard.postino-telematico { padding: 150px 0px 80px 50%; }
	.billboard.postino-telematico figure { margin-left:-450px; margin-top:-70px; }

/*  :: Recruitment :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

	.banner.recruitment figure img { position:absolute; bottom:0; left:0; width:100%; margin:0; }
	.banner.recruitment article { top:10%; }

/*  :: Sistemi informatici :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
	
	.banner.sistemi-informatici img { position:absolute; bottom:0; left:0; width:100%; margin:0; }
	.banner.sistemi-informatici article { text-align:left; top:10%; }

/*  :: Tustena CRM :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
	
	.tustena-crm { 
	  background: url('/software/tustena-crm/images/bg.png') no-repeat scroll 50% 50% / cover #FFF;
}
	.banner.tustena-crm { color:#ffffff; }
	.banner.tustena-crm .cta { display:none; }
	.banner.tustena-crm figure img { width:34%; margin:5% 32% 0; }

	.billboard.tustena-crm { padding: 120px 0px 80px 50%; color:#ffffff; }
	.billboard.tustena-crm figure { margin-left:-450px; }
	.billboard.tustena-crm figure img { width:350px; }
	
/*  :: WDD :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

	.banner.wdd figure { overflow:hidden; }
	.banner.wdd figure img { position:absolute; top:-35%; left:0; }
	.banner.wdd article { top:10%; }	

/* 	===============================================================================================================================
	:: BACKGROUND-IMAGE
   	=============================================================================================================================== */	
	
	.logo-algoritmi { 
		background-image: url('/images/logo-algoritmi.png');
}
	.logo-teamsystem { 
		background-image: url('/images/logo-teamsystem.png');
}
	.divider.up {
		background-image: url('/images/bg/divider-up.png');
}
	.divider.down {
		background-image: url('/images/bg/divider-down.png');
}
	.divider.line {
		background-image: url('/images/bg/divider-line.png');
}
	.nest.left {
		background-image: url('/images/bg/nest-left.png');
}		
	.nest.right {
		background-image: url('/images/bg/nest-right.png');
}	

/* 	===============================================================================================================================
	:: BACKGROUND
   	=============================================================================================================================== */	

	#header,
	#footer-b,
	.banner,
	.catalogo .item,
	legend,
	.message-box {
		background: none repeat scroll 0 0 #ffffff;
		background: none repeat scroll 0 0 rgba(255, 255, 255, 1);
}
	#header-a,
	#footer {
		background: none repeat scroll 0% 0% #2C3E50;
}
	#nav-a a.text-accedi,
	#nav-e a[class*="icon-"]:before {
		background: none repeat scroll 0% 0% #2980B9;
}

/* 	===============================================================================================================================
	:: COLOR
   	=============================================================================================================================== */	

	a { 
		color: #3498db;
}
	a:hover,
	a:focus { 
		color: #0992d0; 
}
	#nav-a a,
	#nav-b a,
	#nav-e a,
	#nav-f a,
	#nav-g a {
		color: #BCDCED;
}	
	#nav-a a:focus,
	#nav-a a:hover,
	#nav-a a.text-accedi,
	#nav-b a:focus,
	#nav-b a:hover,
	#nav-e a:focus,
	#nav-e a:hover,
	#nav-f a:focus,
	#nav-f a:hover,
	#nav-g a:focus,
	#nav-g a:hover,
	#nav-e a[class*="icon-"]:before {
		color: #FFFFFF;
}
	#search-form input { 
		color: #8a8a8a; 
}
	-webkit-input-placeholder { /* Safari */
		color: #8a8a8a; 
} 
	input:-moz-placeholder { 
		color: #8a8a8a; 
}
	-ms-input-placeholder { /* ie */
		color: #8a8a8a; 
} 
	-moz-placeholder { /* firefox 19+ */
		color: #8a8a8a; 
		opacity:1 
} 

/* 	===============================================================================================================================
	:: BOX-SHADOW
   	=============================================================================================================================== */	

	#nav-c .nav-center li a {
		box-shadow: -1px 0 0 rgba(255, 255, 255, 0.95) inset, 1px 0 0 rgba(166, 166, 166, 0.2) inset;
}
	#nav-c .nav-center li a:hover,
	#nav-c .nav-center li a.active {
		box-shadow: 0px 8px 10px #f7f7f7 inset, 4px 35px 65px 5px rgba(242, 242, 242, 0.9) inset;
}
	.catalogo .item {
		box-shadow: 0px -1px 0px rgba(166, 166, 166, 0.7) inset, 0px 1px 0px rgba(255, 255, 255, 0.95) inset ;
}

/* 	==========================================================================
	:: #home
	========================================================================== */

	.home section.hero {
		background: url('../images/bg/bg-geometric-10.jpg') no-repeat scroll center center / cover transparent;
		padding: 65px 0px 300px;
		height: auto;
}
	.home section.hero .cta { 
		margin: 3.75em 0px 0px; 
}
	.home section.feature .icon {
		max-width: 100%;
		background: none repeat scroll 0% 0% #3DC9B3;
		border-radius: 50%;
		display: block;
		color: #FFF;
		text-align: center;
		vertical-align: middle;
		position: relative;
		margin: 0px auto 50px;
		font-size: 55px;
		width: 175px;
		height: 175px;
		line-height: 175px;
}
	.long-shadow {
    	text-shadow: 1px 1px #37B5A1, 2px 2px #37B5A1, 3px 3px #37B5A1, 4px 4px #37B5A1, 5px 5px #37B5A1, 6px 6px #37B5A1, 7px 7px #37B5A1, 8px 8px #37B5A1, 9px 9px #37B5A1, 10px 10px #37B5A1, 11px 11px #37B5A1, 12px 12px #37B5A1, 13px 13px #37B6A2, 14px 14px #37B7A3, 15px 15px rgb(56, 184, 164), 16px 16px rgb(56, 185, 165), 17px 17px rgb(56, 186, 166), 18px 18px rgb(57, 187, 167), 19px 19px rgb(57, 188, 168), 20px 20px rgb(57, 189, 169), 21px 21px rgb(58, 191, 170), 22px 22px rgb(58, 192, 171), 23px 23px rgb(58, 193, 172), 24px 24px rgb(59, 194, 173), 25px 25px rgb(59, 195, 174), 26px 26px rgb(59, 196, 175), 27px 27px rgb(60, 197, 176), 28px 28px rgb(60, 198, 177), 29px 29px rgb(60, 199, 178), 30px 30px rgb(61, 201, 179);
}
	.btn-go-up {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background: none repeat scroll 0% 0% rgba(61, 201, 179, 0.5);
		display: block;
		margin: 0px auto;
		color: #FFF;
		font-size: 18px;
		line-height: 46px;
		text-align: center;
		position: absolute;
		top: -26px;
		left: 0px;
		right: 0px;
}
	.btn-go-up:hover, 
	.btn-go-up:focus,
	.btn-go-down:hover,
	.btn-go-down:focus { 
		color: #fff; 
		background: rgba(61, 201, 179, 1); 
}
	.btn-go-down {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background: none repeat scroll 0% 0% rgba(61, 201, 179, 0.8);
		display: inline-block;
		margin: 10px auto 20px;
		color: #FFF;
		font-size: 18px;
		line-height: 50px;
		text-align: center;
}


/* 	==========================================================================
	:: Waypoints
	========================================================================== */

	.wp1, .wp2, .wp3, .wp4, .wp5, .wp6 { 
		visibility: hidden; 
}
	.bounceInLeft, .bounceInRight, .fadeIn, .fadeInUp, .fadeInUpDelay, .fadeInDown, .fadeInUpD, .fadeInLeft, .fadeInRight { 
		visibility: visible; 
}
	.delay-03s { 
		animation-delay: 0.3s; 
		-webkit-animation-delay: 0.3s; 
}
	.delay-06s { 
		animation-delay: 0.6s; 
		-webkit-animation-delay: 0.6s; 
}
	.delay-09s { 
		animation-delay: 0.9s; 
		-webkit-animation-delay: 0.9s; 
}
	.wp3 { 
		background: url('../images/test-iphone-bg.png') no-repeat center center; 
		background-position: 200px 10px; 
		height: 100%; 
}

