/*	
	theme.css v.1.3.0
	
	WebDesign Simone Carè 
	http://www.zooweb.it  

*/

/* ===============================================================================================================================
   	@divider
   =============================================================================================================================== */
	
	hr 		  			{ margin: 1.428em 0; border: 0; border-top: 0.0625em solid #dfdfdf; border-bottom: 0.0625em solid #fefefe; clear:both; }
	hr.double 			{ margin: 2.856em 0; }	
	hr.dotted 			{ border-style:dotted; }	
	hr.dashed 			{ border-style: dashed; }	
	hr.ghost  			{ border:none; height:1px; line-height:1; }	

	.hr-shadow-up 		{ background: url("http://www.algoritmi.com/divider/hr-shadow-up.png") repeat-x scroll 50% top transparent; }
	.hr-shadow-down 	{ background: url("http://www.algoritmi.com/divider/hr-shadow-down.png") repeat-x scroll 50% top transparent; }


/* ===============================================================================================================================
   	@background
   =============================================================================================================================== */

	#header,
	legend {
		background: none repeat scroll 0 0 rgba(255, 255, 255, 0.95);
}
	fieldset {
		background: none repeat scroll 0 0 rgba(243, 244, 245, 0.98);
}
	.icon,
	.nav-toggle .bar { 
		background: none repeat scroll 0 0 rgba(41, 128, 185,1.0) 	
}
	.defer-image.is-loading { 
		background: none repeat scroll 0 0 rgba(00, 00, 00, 0.65); 
}
	.slide-backup-online {
		background: rgb(253,255,255);
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMmVmZjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  rgba(253,255,255,1) 0%, rgba(226,239,248,1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(253,255,255,1)), color-stop(100%,rgba(226,239,248,1)));
		background: -webkit-linear-gradient(top,  rgba(253,255,255,1) 0%,rgba(226,239,248,1) 100%);
		background: -o-linear-gradient(top,  rgba(253,255,255,1) 0%,rgba(226,239,248,1) 100%);
		background: -ms-linear-gradient(top,  rgba(253,255,255,1) 0%,rgba(226,239,248,1) 100%);
		background: linear-gradient(to bottom,  rgba(253,255,255,1) 0%,rgba(226,239,248,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdffff', endColorstr='#e2eff8',GradientType=0 );
		color:#34495e;
}
	.banner a:link {		
		background: rgb(255,255,255);
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZmVmZWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(239,239,239,1) 100%); 
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(239,239,239,1)));
		background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(239,239,239,1) 100%); 
		background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(239,239,239,1) 100%); 
		background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(239,239,239,1) 100%); 
		background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(239,239,239,1) 100%); 
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 );
}
	.banner a:hover {
		background: rgb(253,253,253); 
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkZmRmZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlN2U3ZTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  rgba(253,253,253,1) 0%, rgba(231,231,231,1) 100%); 
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(253,253,253,1)), color-stop(100%,rgba(231,231,231,1)));
		background: -webkit-linear-gradient(top,  rgba(253,253,253,1) 0%,rgba(231,231,231,1) 100%); 
		background: -o-linear-gradient(top,  rgba(253,253,253,1) 0%,rgba(231,231,231,1) 100%);
		background: -ms-linear-gradient(top,  rgba(253,253,253,1) 0%,rgba(231,231,231,1) 100%); 
		background: linear-gradient(to bottom,  rgba(253,253,253,1) 0%,rgba(231,231,231,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#e7e7e7',GradientType=0 );
}
	.backup-online-banner,
	.backup-online-slide {
		background: rgb(160,216,239);
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2EwZDhlZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU0JSIgc3RvcC1jb2xvcj0iI2RkZjFmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZWZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  rgba(160,216,239,1) 0%, rgba(221,241,249,1) 54%, rgba(254,255,255,1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(160,216,239,1)), color-stop(54%,rgba(221,241,249,1)), color-stop(100%,rgba(254,255,255,1)));
		background: -webkit-linear-gradient(top,  rgba(160,216,239,1) 0%,rgba(221,241,249,1) 54%,rgba(254,255,255,1) 100%);
		background: -o-linear-gradient(top,  rgba(160,216,239,1) 0%,rgba(221,241,249,1) 54%,rgba(254,255,255,1) 100%);
		background: -ms-linear-gradient(top,  rgba(160,216,239,1) 0%,rgba(221,241,249,1) 54%,rgba(254,255,255,1) 100%);
		background: linear-gradient(to bottom,  rgba(160,216,239,1) 0%,rgba(221,241,249,1) 54%,rgba(254,255,255,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0d8ef', endColorstr='#feffff',GradientType=0 );
		color:#34495e;
}
	.sistemi-informatici {
		background: rgb(253,255,255);
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMmVmZjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  rgba(253,255,255,1) 0%, rgba(226,239,248,1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(253,255,255,1)), color-stop(100%,rgba(226,239,248,1)));
		background: -webkit-linear-gradient(top,  rgba(253,255,255,1) 0%,rgba(226,239,248,1) 100%);
		background: -o-linear-gradient(top,  rgba(253,255,255,1) 0%,rgba(226,239,248,1) 100%);
		background: -ms-linear-gradient(top,  rgba(253,255,255,1) 0%,rgba(226,239,248,1) 100%);
		background: linear-gradient(to bottom,  rgba(253,255,255,1) 0%,rgba(226,239,248,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdffff', endColorstr='#e2eff8',GradientType=0 );
		color:#34495e;
}
	.assistenza {
		background: rgb(155,196,68);
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzliYzQ0NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjM2U3NzUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  rgba(155,196,68,1) 0%, rgba(195,231,117,1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(155,196,68,1)), color-stop(100%,rgba(195,231,117,1)));
		background: -webkit-linear-gradient(top,  rgba(155,196,68,1) 0%,rgba(195,231,117,1) 100%);
		background: -o-linear-gradient(top,  rgba(155,196,68,1) 0%,rgba(195,231,117,1) 100%);
		background: -ms-linear-gradient(top,  rgba(155,196,68,1) 0%,rgba(195,231,117,1) 100%);
		background: linear-gradient(to bottom,  rgba(155,196,68,1) 0%,rgba(195,231,117,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9bc444', endColorstr='#c3e775',GradientType=0 );
		color:#ffffff;
}
	.fiscal-assist {
		background: rgb(41,128,185);
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI5ODBiOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzNDk4ZGIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  rgba(41,128,185,1) 0%, rgba(52,152,219,1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(41,128,185,1)), color-stop(100%,rgba(52,152,219,1)));
		background: -webkit-linear-gradient(top,  rgba(41,128,185,1) 0%,rgba(52,152,219,1) 100%);
		background: -o-linear-gradient(top,  rgba(41,128,185,1) 0%,rgba(52,152,219,1) 100%);
		background: -ms-linear-gradient(top,  rgba(41,128,185,1) 0%,rgba(52,152,219,1) 100%);
		background: linear-gradient(to bottom,  rgba(41,128,185,1) 0%,rgba(52,152,219,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2980b9', endColorstr='#3498db',GradientType=0 );
		color:#ffffff;
}
	.spedire-con-un-click {
		background: rgb(254,191,4);
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlYmYwNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmQ2NWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  rgba(254,191,4,1) 0%, rgba(255,214,94,1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,191,4,1)), color-stop(100%,rgba(255,214,94,1)));
		background: -webkit-linear-gradient(top,  rgba(254,191,4,1) 0%,rgba(255,214,94,1) 100%);
		background: -o-linear-gradient(top,  rgba(254,191,4,1) 0%,rgba(255,214,94,1) 100%);
		background: -ms-linear-gradient(top,  rgba(254,191,4,1) 0%,rgba(255,214,94,1) 100%);
		background: linear-gradient(to bottom,  rgba(254,191,4,1) 0%,rgba(255,214,94,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febf04', endColorstr='#ffd65e',GradientType=0 );
		color:#ffffff;
}
	.gecom-app {
		color:#2c3e50;
}
	.wdd-banner {	
		background: rgb(255,255,255);
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iI2ZiZmJmYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNmY2ZjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(251,251,251,1) 47%, rgba(246,246,246,1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(251,251,251,1)), color-stop(100%,rgba(246,246,246,1)));
		background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(251,251,251,1) 47%,rgba(246,246,246,1) 100%);
		background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(251,251,251,1) 47%,rgba(246,246,246,1) 100%);
		background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(251,251,251,1) 47%,rgba(246,246,246,1) 100%);
		background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(251,251,251,1) 47%,rgba(246,246,246,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 );
}	
	.firma-grafometrica {
		background: rgb(254,255,255);
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkMmViZjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  rgba(254,255,255,1) 0%, rgba(210,235,249,1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,255,255,1)), color-stop(100%,rgba(210,235,249,1)));
		background: -webkit-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%);
		background: -o-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%);
		background: -ms-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%);
		background: linear-gradient(to bottom,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#d2ebf9',GradientType=0 );
		color:#2980b9;
}

/* ===============================================================================================================================
   	@border
   =============================================================================================================================== */
	
	hr { 
		border-color: #1c1c1c -moz-use-text-color #303030; 
}
	#footer { 
		border-top: 1px solid #f8f8f8; box-shadow: 0 -1px #d8d8d8;
}
	#footer .legal > ul > li > a {
		border-left: 1px solid #f8f8f8; box-shadow: -1px 0 #d8d8d8;
}
	#footer .legal > ul > li:last-child {
		border: none; box-shadow: none;
}
	.b-trbl,
	.nav-toggle, {
		border-color: #252525 #222222 #111111; 
		border-image: none; 
		border-style: solid; 
		border-width: 1px; 
}
	.b-tb	{
		border-top: 1px solid #f6f7f8;
		border-bottom: 1px solid #d6d7d8;
}
	.b-lr { 
		border-left:1px solid #1f1f1f; 
		border-right:1px solid #1c1c1c; 
}
	.b-tn {
		border-top: none;
}
	.b-rn { 
		border-right:none; 
}
	.b-bn {
		border-bottom: none;
}
	.b-ln {
		border-left:none;
}
	.bc-trbln,
	.cd { 
		-moz-border-bottom-colors: none; 
		-moz-border-left-colors: none; 
		-moz-border-right-colors: none; 
		-moz-border-top-colors: none; 
} 
	.bc-trbln:nth-child(n) { 
		border: medium none; 
}
	.cd { 
	  border-color: #EFEFEF #E0E0E0 #CCCCCC;
	  border-image: none;
	   border-left: 1px solid #E0E0E0;
	  border-right: 1px solid #E0E0E0;
	  border-style: solid;
	  border-width: 1px;
}

/* ===============================================================================================================================
   	@border-radius
   =============================================================================================================================== */

	.br3,
	.btn,
	.banner,
	.banner a,
	.nav-toggle,
	.cslider { 	
				border-radius: 3px; 
		   -moz-border-radius: 3px; 
		-webkit-border-radius: 3px;
		 -khtml-border-radius: 3px;
}
	.br6 { 	
				border-radius: 6px; 
		   -moz-border-radius: 6px; 
		-webkit-border-radius: 6px;
		 -khtml-border-radius: 6px;
}
	.br-rb,
	.sb-search-input {   
				border-radius: 0 3px 3px 0; 
		   -moz-border-radius: 0 3px 3px 0; 
		-webkit-border-radius: 0 3px 3px 0;    
		 -khtml-border-radius: 0 3px 3px 0;    
}	
	.cd:nth-child(n) { 
		border: medium none;
		border-radius: 100% 100% 100% 100% / 33px 33px 33px 33px; 
}		


/* ===============================================================================================================================
   	@color
   =============================================================================================================================== */

	body { 	
		color: #597088; 
}
	a { 
		color: #3498db;
		text-decoration:none;
}
	a:hover,
	a:focus { 
		color: #2980b9;
}
	.nav-toggle { color: #bdc3c7; }

	-webkit-input-placeholder { color: #8a8a8a; } /* Safari */
		-ms-input-placeholder { color: #8a8a8a; } /* ie */
			 -moz-placeholder { color: #8a8a8a; } /* firefox 19+ */
	   input:-moz-placeholder { color: #8a8a8a; }

	.backup-online a { color: #656565; }

	   

/* ===============================================================================================================================
   	@transition
   =============================================================================================================================== */

	a {
	-webkit-transition: 0.25s;
	   -moz-transition: 0.25s;
		 -o-transition: 0.25s;
		    transition: 0.25s;
}

	h1,h2,h3,h4,h5,h6,p,.items li 	{ 
	-webkit-transition:all .2s linear; 
	   -moz-transition:all .2s linear; 
		 -o-transition:all .2s linear; 
		    transition:all .2s linear; 
}
	#header {
		transition: all 0.3s ease 0s;
		transition-duration: 0.7s;
		transition-property: top;
		transition-timing-function: cubic-bezier(0.694, 0.0482, 0.335, 1);
}	
	#wrap {	   
  -webkit-transition: left 0.4s ease-in-out;
	 -moz-transition: left 0.4s ease-in-out;
	  -ms-transition: left 0.4s ease-in-out;
	   -o-transition: left 0.4s ease-in-out;
	      transition: left 0.4s ease-in-out;
}  
	.nav-main li a {
-webkit-transition: background 0.3s ease-in-out;
   -moz-transition: background 0.3s ease-in-out;
	-ms-transition: background 0.3s ease-in-out;
	 -o-transition: background 0.3s ease-in-out;
		transition: background 0.3s ease-in-out;
	}
	.cslider {
-webkit-transition: background-position 1s ease-out 0.3s;
   -moz-transition: background-position 1s ease-out 0.3s;
	 -o-transition: background-position 1s ease-out 0.3s;
	-ms-transition: background-position 1s ease-out 0.3s;
		transition: background-position 1s ease-out 0.3s;
}	
	
	
