
	/* Zooweb v1.2 http://www.zooweb.it */
	/* WebDesign Simone Carè */
	
	@media screen and (max-width: 1200px) {
	
	}	
	
	@media only screen and (max-width: 1024px) { 	
	
	}	

	@media (min-width: 768px) {
		
		.lead { 
			font-size: 21px; 
			font-size: 2.1rem; 
		}
		 .dl-horizontal dt {
			float: left;
			width: 10em;
			overflow: hidden;
			clear: left;
			text-align: right;
			text-overflow: ellipsis;
			white-space: nowrap;
	  }
	  .dl-horizontal dd {
			margin-left: 11.25em;
	  }
	  .dl-horizontal dd:before,
	  .dl-horizontal dd:after {
			display: table;
			content: " ";
	  }
	  .dl-horizontal dd:after {
			clear: both;
	  }
	  .dl-horizontal dd:before,
	  .dl-horizontal dd:after {
			display: table;
			content: " ";
	  }
	  .dl-horizontal dd:after {
			clear: both;
  	  }
	  .form-inline .form-group {
		display: inline-block;
		margin-bottom: 0;
		vertical-align: middle;
	  }
	  .form-inline .form-control {
		display: inline-block;
	  }
	  .form-inline select.form-control {
		width: auto;
	  }
	  .form-inline .radio,
	  .form-inline .checkbox {
		display: inline-block;
		padding-left: 0;
		margin-top: 0;
		margin-bottom: 0;
	  }
	  .form-inline .radio input[type="radio"],
	  .form-inline .checkbox input[type="checkbox"] {
		float: none;
		margin-left: 0;
	  }
		.form-horizontal .control-label {
		text-align: right;
		}
		
	    .navbar-right .dropdown-menu {
		right: 0;
		left: auto;
	  }
  
	}
	@media only screen and (max-width: 767px) {

		.col_1, .col_2, .col_3, .col_4, .col_5, .col_6, .col_7, .col_8, .col_9, .col_10, .col_11, .col_12 { width:24.99%; }
		.x .col_1, .x .col_2, .x .col_3, .x .col_4, .x .col_5, .x .col_6, .x .col_7, .x .col_8, .x .col_9, .x .col_10, .x .col_11, .x .col_12 { width:23.99%; }
		.xx .col_1, .xx .col_2, .xx .col_3, .xx .col_4, .xx .col_5, .xx .col_6, .xx .col_7, .xx .col_8, .xx .col_9, .xx .col_10, .xx .col_11, .xx .col_12 { width:22.99%; }		
		.xxx .col_1, .xxx .col_2, .xxx .col_3, .xxx .col_4, .xxx .col_5, .xxx .col_6, .xxx .col_7, .xxx .col_8, .xxx .col_9, .xxx .col_10, .xxx .col_11, .xxx .col_12 { width:21.99%; }		
		.xxxx .col_1, .xxxx .col_2, .xxxx .col_3, .xxxx .col_4, .xxxx .col_5, .xxxx .col_6, .xxxx .col_7, .xxxx .col_8, .xxxx .col_9, .xxxx .col_10, .xxxx .col_11, .xxxx .col_12 { width:20.99%; }		
		.xxxxx .col_1, .xxxxx .col_2, .xxxxx .col_3, .xxxxx .col_4, .xxxxx .col_5, .xxxxx .col_6, .xxxxx .col_7, .xxxxx .col_8, .xxxxx .col_9, .xxxxx .col_10, .xxxxx .col_11, .xxxxx .col_12 { width:19.99%; }

	  .table-responsive {
		width: 100%;
		margin-bottom: 15px;
		overflow-x: scroll;
		overflow-y: hidden;
		border: 1px solid #dddddd;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		-webkit-overflow-scrolling: touch;
	  }
	  .table-responsive > .table {
		margin-bottom: 0;
	  }
	  .table-responsive > .table > thead > tr > th,
	  .table-responsive > .table > tbody > tr > th,
	  .table-responsive > .table > tfoot > tr > th,
	  .table-responsive > .table > thead > tr > td,
	  .table-responsive > .table > tbody > tr > td,
	  .table-responsive > .table > tfoot > tr > td {
		white-space: nowrap;
	  }
	  .table-responsive > .table-bordered {
		border: 0;
	  }
	  .table-responsive > .table-bordered > thead > tr > th:first-child,
	  .table-responsive > .table-bordered > tbody > tr > th:first-child,
	  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
	  .table-responsive > .table-bordered > thead > tr > td:first-child,
	  .table-responsive > .table-bordered > tbody > tr > td:first-child,
	  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
		border-left: 0;
	  }
	  .table-responsive > .table-bordered > thead > tr > th:last-child,
	  .table-responsive > .table-bordered > tbody > tr > th:last-child,
	  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
	  .table-responsive > .table-bordered > thead > tr > td:last-child,
	  .table-responsive > .table-bordered > tbody > tr > td:last-child,
	  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
		border-right: 0;
	  }
	  .table-responsive > .table-bordered > tbody > tr:last-child > th,
	  .table-responsive > .table-bordered > tfoot > tr:last-child > th,
	  .table-responsive > .table-bordered > tbody > tr:last-child > td,
	  .table-responsive > .table-bordered > tfoot > tr:last-child > td {
		border-bottom: 0;
	  }

	}
	
	@media screen and (max-width: 680px) {
		
		#nav-mobile { display:block; }
		#nav-main { display:none; }
		
		.col_1, .col_2, .col_3, .col_4, .col_5, .col_6, .col_7, .col_8, .col_9, .col_10, .col_11, .col_12 { width:33.30%; }
		.x .col_1, .x .col_2, .x .col_3, .x .col_4, .x .col_5, .x .col_6, .x .col_7, .x .col_8, .x .col_9, .x .col_10, .x .col_11, .x .col_12 { width:32.30%; }
		.xx .col_1, .xx .col_2, .xx .col_3, .xx .col_4, .xx .col_5, .xx .col_6, .xx .col_7, .xx .col_8, .xx .col_9, .xx .col_10, .xx .col_11, .xx .col_12 { width:31.30%; }		
		.xxx .col_1, .xxx .col_2, .xxx .col_3, .xxx .col_4, .xxx .col_5, .xxx .col_6, .xxx .col_7, .xxx .col_8, .xxx .col_9, .xxx .col_10, .xxx .col_11, .xxx .col_12 { width:30.30%; }		
		.xxxx .col_1, .xxxx .col_2, .xxxx .col_3, .xxxx .col_4, .xxxx .col_5, .xxxx .col_6, .xxxx .col_7, .xxxx .col_8, .xxxx .col_9, .xxxx .col_10, .xxxx .col_11, .xxxx .col_12 { width:29.30%; }		
		.xxxxx .col_1, .xxxxx .col_2, .xxxxx .col_3, .xxxxx .col_4, .xxxxx .col_5, .xxxxx .col_6, .xxxxx .col_7, .xxxxx .col_8, .xxxxx .col_9, .xxxxx .col_10, .xxxxx .col_11, .xxxxx .col_12 { width:28.30%; }	

	}	

	@media screen and (max-width: 480px) {
		
		.col_1, .col_2, .col_3, .col_4, .col_5, .col_6, .col_7, .col_8, .col_9, .col_10, .col_11, .col_12 { width:49.99%; }
		.x .col_1, .x .col_2, .x .col_3, .x .col_4, .x .col_5, .x .col_6, .x .col_7, .x .col_8, .x .col_9, .x .col_10, .x .col_11, .x .col_12 { width:48.99%; }
		.xx .col_1, .xx .col_2, .xx .col_3, .xx .col_4, .xx .col_5, .xx .col_6, .xx .col_7, .xx .col_8, .xx .col_9, .xx .col_10, .xx .col_11, .xx .col_12 { width:47.99%; }		
		.xxx .col_1, .xxx .col_2, .xxx .col_3, .xxx .col_4, .xxx .col_5, .xxx .col_6, .xxx .col_7, .xxx .col_8, .xxx .col_9, .xxx .col_10, .xxx .col_11, .xxx .col_12 { width:46.99%; }		
		.xxxx .col_1, .xxxx .col_2, .xxxx .col_3, .xxxx .col_4, .xxxx .col_5, .xxxx .col_6, .xxxx .col_7, .xxxx .col_8, .xxxx .col_9, .xxxx .col_10, .xxxx .col_11, .xxxx .col_12 { width:45.99%; }		
		.xxxxx .col_1, .xxxxx .col_2, .xxxxx .col_3, .xxxxx .col_4, .xxxxx .col_5, .xxxxx .col_6, .xxxxx .col_7, .xxxxx .col_8, .xxxxx .col_9, .xxxxx .col_10, .xxxxx .col_11, .xxxxx .col_12 { width:44.99%; }
	
	}	
	
	@media screen and (max-width: 320px) {
		
		[class*="col_"] { width:99.99% !important; }
	
	}
	

	
	
	
	
	

	
	
	
	@media print {
	  
	  * {
		color: #000 !important;
		text-shadow: none !important;
		background: transparent !important;
		box-shadow: none !important;
	  }
	  a,
	  a:visited {
		text-decoration: underline;
	  }
	  a[href]:after {
		content: " (" attr(href) ")";
	  }
	  abbr[title]:after {
		content: " (" attr(title) ")";
	  }
	  .ir a:after,
	  a[href^="javascript:"]:after,
	  a[href^="#"]:after {
		content: "";
	  }
	  pre,
	  blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	  }
	  thead {
		display: table-header-group;
	  }
	  tr,
	  img {
		page-break-inside: avoid;
	  }
	  img {
		max-width: 100% !important;
	  }
	  @page  {
		margin: 2cm .5cm;
	  }
	  p,
	  h2,
	  h3 {
		orphans: 3;
		widows: 3;
	  }
	  h2,
	  h3 {
		page-break-after: avoid;
	  }
	  .navbar {
		display: none;
	  }
	  .table td,
	  .table th {
		background-color: #fff !important;
	  }
	  .btn > .caret,
	  .dropup > .btn > .caret {
		border-top-color: #000 !important;
	  }
	  .label {
		border: 1px solid #000;
	  }
	  .table {
		border-collapse: collapse !important;
	  }
	  .table-bordered th,
	  .table-bordered td {
		border: 1px solid #ddd !important;
	  }
	}