
/* Zooweb v1.2 http://www.zooweb.it */
/* WebDesign Simone Carè */
	
	input,
	button,
	select,
	textarea {
		font-family: inherit;
		font-size: inherit;
		line-height: inherit;
} 
	h1, 
	h2, 
	h3, 
	h4, 
	h5, 
	h6 	{ 
		font-family: inherit;
		font-weight: 500;
  		line-height: 1.1;
		color: inherit; 
		text-rendering: optimizelegibility; 
}

	h1 small,
	h2 small,
	h3 small,
	h4 small,
	h5 small,
	h6 small,
	.h1 small,
	.h2 small,
	.h3 small,
	.h4 small,
	.h5 small,
	.h6 small,
	h1 .small,
	h2 .small,
	h3 .small,
	h4 .small,
	h5 .small,
	h6 .small,
	.h1 .small,
	.h2 .small,
	.h3 .small,
	.h4 .small,
	.h5 .small,
	.h6 .small {
		font-weight: normal;
		line-height: 1;
}
	h1 small,
	h2 small,
	h3 small,
	h1 .small,
	h2 .small,
	h3 .small {
	  font-size: 65%;
}
	h4 small,
	h5 small,
	h6 small,
	h4 .small,
	h5 .small,
	h6 .small {
	  font-size: 75%;
}
	h1, 
	h2, 
	h3 { 
		margin:1.428rem 0; 
}
	h4, 
	h5, 
	h6 { 
		margin:.714rem 0; 
}
	p { 
		margin-bottom:1.428em;
		line-height:1.428em;
}	

	h1,.h1 { font-size: 44px; font-size: 4.4rem; }	
	h2,.h2 { font-size: 36px; font-size: 3.6rem; }	
	h3,.h3 { font-size: 30px; font-size: 3.0rem; }
	h4,.h4 { font-size: 26px; font-size: 2.6rem; }
	h5,.h5 { font-size: 22px; font-size: 2.2rem; }
	h6,.h6 { font-size: 18px; font-size: 1.8rem; }
	p	   { font-size: 13px; font-size: 1.3rem; }
	.lead  { font-size: 18px; font-size: 1.8rem; font-weight:200; line-height:1.4; margin-bottom:1.428rem; }

	small,
	.small { 
		font-size: 85%; 
}
	cite {
		font-style: normal;
}
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { 
		font-weight: inherit; 
}
	p a, p a:visited { 
		line-height: inherit; 
}	
	ul,
	ol {
	  margin-top: 0;
	  margin-bottom:1.428em;
}
	ul ul,
	ol ul,
	ul ol,
	ol ol {
	  margin-bottom: 0;
}
	.list-unstyled {
	  padding-left: 0;
	  list-style: none;
}
	.list-inline {
	  padding-left: 0;
	  list-style: none;
}
	.list-inline > li {
	  display: inline-block;
	  padding-right: .1em;
	  padding-left: .1em;
}
	.list-inline > li:first-child {
	  padding-left: 0;
	}

	dl {
	  margin-top: 0;
	  margin-bottom: 1.428em;
}
	
	dt,
	dd {
	  line-height: 1.428;
}
	dt {
	  font-weight: bold;
}
	
	dd {
	  margin-left: 0;
}

	abbr[title],
	abbr[data-original-title] {
	  cursor: help;
	  border-bottom: 1px dotted #999999;
}
	
	.initialism {
	  font-size: 90%;
	  text-transform: uppercase;
}


/*	-----------------------------------------------------------------------------------------------------------------------------
	::  @blockquote
	------------------------------------------------------------------------------------------------------------------------------ */
	
	blockquote {
	  padding: 10px 20px;
	  margin: 0 0 20px;
	  border-left: 5px solid #eeeeee;
}
	
	blockquote p {
	  font-size: 17.5px;
	  font-weight: 300;
	  line-height: 1.25;
}
	
	blockquote p:last-child {
	  margin-bottom: 0;
}
	
	blockquote small,
	blockquote .small {
	  display: block;
	  line-height: 1.428571429;
	  color: #999999;
}
	
	blockquote small:before,
	blockquote .small:before {
	  content: '\2014 \00A0';
}
	
	blockquote.pull-right {
	  padding-right: 15px;
	  padding-left: 0;
	  border-right: 5px solid #eeeeee;
	  border-left: 0;
}
	
	blockquote.pull-right p,
	blockquote.pull-right small,
	blockquote.pull-right .small {
	  text-align: right;
}
	
	blockquote.pull-right small:before,
	blockquote.pull-right .small:before {
	  content: '';
}
	
	blockquote.pull-right small:after,
	blockquote.pull-right .small:after {
	  content: '\00A0 \2014';
}
	
	blockquote:before,
	blockquote:after {
	  content: "";
}

	address {
	  margin-bottom: 1.428em;
	  font-style: normal;
	  line-height: 1.428571429;
}
	
	code,
	kbd,
	pre,
	samp {
	  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
	
	code {
	  padding: .125em .25em;
	  font-size: 90%;
	  color: #c7254e;
	  white-space: nowrap;
	  background-color: #f9f2f4;
}
	
	pre {
	  display: block;
	  padding: 9.5px;
	  margin: 0 0 10px;
	  font-size: 13px;
	  line-height: 1.428571429;
	  color: #333333;
	  word-break: break-all;
	  word-wrap: break-word;
	  background-color: #f5f5f5;
	  border: 1px solid #cccccc;
	  border-radius: 4px;
}
	
	pre code {
	  padding: 0;
	  font-size: inherit;
	  color: inherit;
	  white-space: pre-wrap;
	  background-color: transparent;
	  border-radius: 0;
}
	
	.pre-scrollable {
	  max-height: 340px;
	  overflow-y: scroll;
}